<style>
    .hr_ {
        margin-top: 0px;
    }

</style>
<div class="col-md-12  panel panel-blur">
    <div class="panel-body">
        <div class="row">
            <div class=" col-sm-12" style="padding-top: 10px;">
                <label>View Invoice</label>
                <hr class="hr_">
            </div>
            <div class="col-sm-12" style="padding-top: 10px;">
                <label>Student and IC</label>
                <input class="form-control" data-ng-model="student_name" readonly/>

            </div>
            <div class="col-sm-12" style="padding: 0px;">
                <div class="col-sm-6" style="padding-top: 10px;">
                    <label>Invoice No.</label>
                    <input readonly type="text"
                           style="max-width: 100%;min-width: 100%;resize: none;"
                           class="form-control"
                           ng-model="invoice_no">
                </div>
                <div class="col-sm-6" style="padding-top: 10px;">
                    <label>Status Payment - Date Payment</label>
                    <input readonly
                           class="form-control"
                           type="text"
                           name="year" ng-model="is_pay_status"/>
                </div>
            </div>

            <!--<div class="col-sm-12" style="padding: 10px 0px 0px 0px;">
                <div class="col-sm-6">
                    <label>Status Payment - Date Payment</label>
                    <input readonly
                           class="form-control"
                           type="text"
                           name="year" ng-model="is_pay_status"/>
                </div>
                <div class="col-sm-6">
                    <label>Bill Code Toyyib</label>
                    <input readonly type="text"
                           style="max-width: 100%;min-width: 100%;resize: none;"
                           class="form-control"
                           ng-model="bill_code">
                </div>
            </div>-->

            <div class="col-sm-12" style="padding: 10px 15px 0px 15px;">
                <label>Collection Payment</label>
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td>
                            Bill Code
                        </td>
                        <td>
                            Payment Date
                        </td>
                        <td>
                            Status
                        </td>
                        <td>
                            Paid Amount
                        </td>
                        <td>
                            <div align="center">
                                Action
                            </div>

                        </td>
                    </tr>
                    <tr ng-repeat="item in bill_detail">
                        <td>{{ item.bill_code }}</td>
                        <td>{{ item.billPaymentDate }}</td>
                        <td>{{ item.statusPD }}</td>
                        <td>{{ item.billpaymentAmount }}</td>
                        <td>
                            <div align="center">
                                <button style="border-radius: 25px;" ng-click="send_email(invoice_no,item.bill_code)"
                                        class="btn btn-primary ion-email"></button>
                            </div>

                        </td>

                    </tr>
                    <tr ng-if="bill_detail.length != 0">
                        <td colspan="3">Total Paid</td>
                        <td>{{ paidAmount }}</td>
                    </tr>
                    <tr ng-if="bill_detail.length != 0">
                        <td colspan="3">Payment Balance</td>
                        <td>{{ totalBlance }}</td>
                    </tr>
                    <tr ng-if="bill_detail.length == 0">
                        <td colspan="4"> No payment made</td>
                    </tr>
                    <!--<tr>
                        <td colspan="2"> TOTAL</td>
                        <td>{{ countBil }}</td>
                    </tr>-->
                </table>
            </div>

            <div class="col-md-12" style="padding-top: 20px;">
                <label>Invoice Detail</label>
                <div include-with-scope="../static/app/pages/account/widgets/updateItemTable.html"></div>
            </div>
            <div class="col-sm-12" style="padding-top: 10px;">
                <label>Remark</label>
                <input readonly
                       class="form-control"
                       type="text" ng-model="desc"/>
                <!--<textarea style="max-width: 100%;min-width: 100%;resize: none;"
                          class="form-control"
                          required
                          ng-model="desc"></textarea>-->
            </div>


            <div class="col-sm-12" style="padding-top: 10px;padding-left: 0px;">
                <label class="col-sm-1 control-label">Attachment</label>
                <div class="col-sm-10">
                    <ul ng-show="attachment_lama.length > 0">
                        <li ng-repeat="x in  attachment_lama">
                            <i class="file-icon ion-document"></i>
                            <span class="file-name"></span>{{ x.name }} -
                            <a style="color: white;" download
                               href="../static/uploads/{{student_id}}/{{ x.id }}/{{ x.name }}">
                                <u>Download</u></a>
                        </li>
                    </ul>
                    <ul ng-hide="attachment_lama.length">
                        <p>No Attachment Available</p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 10px;">
            <div style="float: right">
                <button style="width: 120px ;" type="button"
                        class="btn btn-danger ion-android-close"
                        ng-click="$close()">
                    &nbsp;&nbsp;&nbsp;Close
                </button>
            </div>
        </div>

    </div>

</div>
</div>

