<div class="panel panel-blur">
    <div class="panel-heading">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h3 class="panel-title">Add Subject</h3>
    </div>
    <div class="panel-body">
        <form name="assetForm" ng-submit="submit();" class="form-horizontal">

            <div class="modal-body">
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-2 control-label">
                        Subject
                    </label>
                    <div class="col-sm-4">
                       <ui-select ng-model="subject_name.selected"
                                   class="btn-group bootstrap-select form-control col-sm-10"
                                   append-to-body="false"
                                   search-enabled="true"
                                    ng-change="myChange()">
                            <ui-select-match placeholder="Please Choose">
                                <span> {{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="x in subject_name | filter: $select.search"
                                               ng-hide="!$select.open">
                                <span ng-bind-html="x.name"></span>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                    <label style="text-align: left" class="col-sm-2 control-label">
                        Overall Band
                    </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="formData.overall" required >
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-2 control-label">
                        Comments
                    </label>
                    <div class="col-sm-10">
                        <textarea placeholder="Write Here..." style="height: 90px;"
                                  class="form-control" ng-model="formData.comments" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align: left" class="col-sm-12">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr>
                                <td width="25%">Skill</td>
                                <td width="15%">Band</td>
                                <td width="60%">Comments</td>
                            </tr>
                            <tr ng-repeat="item in skill_name">
                                <td style="padding: 10px;">{{ item.name }}</td>
                                <td style="padding: 10px;"><input type="text" name="{{ item.id }}" ng-model="skill[item.id]" class="form-control"></td>
                                <td style="padding: 10px;">
                                    <input type="text" name="{{ item.name }}" ng-model="comment[item.name]" class="form-control">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div style="text-align: left" class="col-sm-12">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr>
                                <td width="20%">Band</td>
                                <td width="80%">Comments</td>
                            </tr>
                            <tr ng-repeat="item in band_name">
                                <td>{{ item.band }}</td>
                                <td>{{ item.comment }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary ion-android-upload"
                        style="width: 150px;">&nbsp;&nbsp;&nbsp;Add
                </button>
                <button type="button" class="btn btn-danger ion-android-close" style="width: 150px;"
                        ng-click="$dismiss()">&nbsp;&nbsp;&nbsp;Cancel
                </button>
            </div>
        </form>
    </div>
</div>
