<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="#" class="al-logo clearfix"><span>Manag</span>Management</a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>


    <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
            <a  data-toggle="tooltip"  title="Sign Out" style=" padding-left: 40px; padding-top: 20px;" href="../login/logout?id={{getGlobalId}}" class="fa fa-power-off"></a>

        </div>
    </div>
</div>
