<div class="panel panel-blur">
    <div class="panel-heading">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h3 class="panel-title">Create Report Academic</h3>
    </div>
    <div class="panel-body">
        <form name="assetForm" ng-submit="$close();" class="form-horizontal">

            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2">Student</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="student_name.selected"
                                   class="btn-group bootstrap-select form-control col-sm-10"
                                   append-to-body="false"
                                   search-enabled="true"
                                   ng-change="studnet_selected">
                            <ui-select-match placeholder="Please Choose">
                                <span> {{$select.selected.name }}  ({{$select.selected.ic_no }})</span>
                            </ui-select-match>
                            <ui-select-choices repeat="x in student_name | filter: $select.search"
                                               ng-hide="!$select.open">
                                <span ng-bind-html="x.name +'('+ x.ic_no +')'"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-2 control-label">
                        Class Name
                    </label>
                    <div class="col-sm-10">
                        <input ng-model="formData.className"
                                   placeholder="Type Here"
                                   class="form-control"
                                   type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-12 control-label">
                        3. OPERASI
                    </label>
                    <div class="col-sm-12">
                        <textarea placeholder="Write Here..." style="height: 150px;" maxlength="200"
                                  class="form-control" ng-model="cCtrl.description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-12 control-label">
                        4. PERKARA YANG MEMERLUKAN TINDAKAN KELULUSAN SEGERA
                    </label>
                    <div class="col-sm-12">
                        <textarea placeholder="Write Here..." style="height: 150px;" maxlength="200"
                                  class="form-control" ng-model="cCtrl.description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label style="text-align: left" class="col-sm-12 control-label">
                        5. HAL-HAL LAIN YANG PERLU DIBERIKAN PERHATIAN SEGERA
                    </label>
                    <div class="col-sm-12">
                        <textarea placeholder="Write Here..." style="height: 150px;" maxlength="200"
                                  class="form-control" ng-model="cCtrl.description" required></textarea>
                    </div>
                </div>
                <div class="form-group" style="    padding: 10px 0;">
                    <label style="text-align: left" class="col-sm-2 control-label">
                        Lampiran
                    </label>
                    <div class="col-sm-10">
                        <input type="file">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="text-align: left" class="col-sm-4 control-label">
                                Disediakan oleh:
                            </label>
                            <div class="col-sm-8">
                                <select class="btn-group bootstrap-select form-control">
                                    <option value="saab">Iqbal Aideed</option>
                                    <!--<option value="volvo">Pilih</option>-->
                                    <option value="opel">Abdul Rahman</option>
                                    <option value="audi">Faiz Zainudin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label style="text-align: left" class="col-sm-4 control-label">
                                Disemak oleh:
                            </label>
                            <div class="col-sm-8">
                                <select class="btn-group bootstrap-select form-control">
                                    <option value="volvo">Pilih Disemak</option>
                                    <option value="saab">Iqbal Aideed</option>
                                    <option value="opel">Abdul Rahman</option>
                                    <option value="audi">Faiz Zainudin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="$dismiss()" class="btn btn-primary ion-android-upload"
                        style="width: 150px;">&nbsp;&nbsp;&nbsp;Hantar
                </button>
                <button type="button" class="btn btn-danger ion-android-close" style="width: 150px;"
                        ng-click="$dismiss()">&nbsp;&nbsp;&nbsp;Batal
                </button>
            </div>
        </form>
    </div>
</div>
