<style>
    .amar {
        overflow: hidden;
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
        max-width: 0;
        overflow-wrap: break-word;
    }
</style>
<div>
    <div style=" float: right;" class="add-row-editable-table">
        <!--    <button class="btn btn-primary" ng-click="addUser()"></button>-->
        <button ng-disabled="!student_name.selected" style="border-radius: 25px;" ng-click="add_item()"
                class="btn btn-primary ion-android-add"></button>
    </div>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td style="width: 10%">No.</td>
            <td style="width: 45%">Description</td>
            <td style="width: 20%">Amount(RM)</td>
            <td style="width:35%">Action</td>

        </tr>
        <tr ng-repeat="item in items" class="editable-row">
            <td class="select-td amar">
                {{$index + 1}}
            </td>
            <td class="select-td amar">
        <span editable-text="item.desc" e-name="desc" e-form="rowform" e-required
              onbeforesave="checkValidity($data,'desc')">
          {{ item.desc || 'empty' }}
        </span>
            </td>
            <td class="select-td amar">
        <span editable-number="item.amount" e-name="amount" e-step="any" e-form="rowform" e-required
              onbeforesave="checkValidity($data,'price')" onaftersave="calculate()">
          {{ item.amount || 'Enter Price' }}
        </span>


            </td>
            <td>
                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting"
                            class="btn btn-primary editable-table-button btn-xs">
                        Save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting"
                            ng-click="rowform.$cancel();remove_item_edit( $index,item.desc ,item.amount)"
                            class="btn btn-default editable-table-button btn-xs">
                        Cancel
                    </button>

                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button ng-disabled="!student_name.selected" class="btn btn-primary editable-table-button btn-xs"
                            ng-click="rowform.$show()">Edit
                    </button>
                    <button ng-disabled="!student_name.selected" class="btn btn-danger editable-table-button btn-xs"
                            ng-click="remove_items($index)">Delete
                    </button>
                </div>
            </td>
        </tr>
        <tr class="editable-row">
            <td style="width: 10%"></td>
            <td style="width: 45%"><font color="yellow">Subtotal</font></td>
            <td style="width: 20%"><font color="yellow">{{subtotal}}</font></td>
            <td style="width:35%"></td>
            <!--        <td style="width:35%">-->
            <!--            &lt;!&ndash;            <div style="text-align: center">&ndash;&gt;-->
            <!--            &lt;!&ndash;                   <button style="border-radius: 25px;" ng-click="calculate()" class="btn btn-primary ion-calculator"></button>&ndash;&gt;-->
            <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--        </td>-->
        </tr>

        <tr class="editable-row">
            <td style="width: 10%"></td>
            <td style="width: 45%"><font color="black"><b>TOTAL</b></font></td>
            <td style="width: 20%"><font color="black"><b>{{total}}0</b></font></td>
            <td style="width:35%"></td>
            <!--        <td style="width:35%">-->
            <!--            &lt;!&ndash;            <div style="text-align: center">&ndash;&gt;-->
            <!--            &lt;!&ndash;                   <button style="border-radius: 25px;" ng-click="calculate()" class="btn btn-primary ion-calculator"></button>&ndash;&gt;-->
            <!--            &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--        </td>-->
        </tr>

        <!--    <div>total{{total_price}}</div>-->
    </table>
    <div class="col-sm-12">
        <div align="center">
            <span> <font color="red">*** Minimum 1 item ***</font></span>
        </div>

    </div>

</div>