<style>
    .hr_ {
        margin-top: 0px;
    }
</style>
<div class="panel panel-blur">

    <div class="panel-heading">
        <button type="button" class="close" ng-click="close_tab()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
    </div>

    <div class="panel-body">
        <uib-tabset>

            <uib-tab index="1" heading="Detail">

                <div class="row">
                    <div class=" col-sm-12" style="padding-top: 10px;">
                        <label>Personal Detail</label>
                        <hr class="hr_">

                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Name</label>
                        <input readonly type="text" class="form-control" id="name"
                               ng-model="name">
                    </div>
                    <div class=" col-sm-4" style="padding-top: 10px;">
                        <label>Sex</label>
                        <input readonly type="text" class="form-control" id="sex"
                               ng-model="sex">
                    </div>

                    <div class=" col-sm-4" style="padding-top: 10px;">
                        <label>Age</label>
                        <input readonly type="text" class="form-control" id="age"
                               ng-model="age">

                    </div>
                    <div class=" col-sm-4" style="padding-top: 10px;">
                        <label>DOB</label>
                        <input readonly type="text" class="form-control" id="DOB"
                               ng-model="DOB">

                    </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                        <label>Race</label>
                        <input readonly type="text" class="form-control" id="race"
                               ng-model="race">

                    </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                        <!--                        <div class="col-sm-8">-->
                        <label>Phone</label>
                        <input readonly type="text" class="form-control" id="phone"
                               ng-model="phone">

                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Address</label>
                        <textarea style="max-width: 100%;min-width: 100%;resize: none;" class="form-control"
                                  id="address"
                                  ng-model="address"></textarea>

                    </div>

                </div>
                <br><br>
                <!-- #############################       ###########################-->
                <div class="row">
                    <div class=" col-sm-12" style="padding-top: 10px;">
                        <label>Disease</label>
                        <hr class="hr_">

                    </div>

                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Disease</label>
                        <input readonly type="text" class="form-control" id="disease"
                               ng-model="disease">
                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Date</label>
                        <input readonly type="text" class="form-control" id="date_disease"
                               ng-model="date_disease">
                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Status</label>
                        <input readonly type="text" class="form-control" id="status_disease"
                               ng-model="status_disease">
                    </div>

                    <div class="col-sm-12" style="padding-top: 10px;">
                        <!--                        <div class="col-sm-8">-->
                        <label>Description</label>
                        <textarea readonly style="max-width: 100%;min-width: 100%;resize: none;" class="form-control"
                                  id="descdisease"
                                  ng-model="descdisease"></textarea>

                    </div>


                </div>
                <br><br>
                <!-- #############################       ###########################-->
                <div class="row">
                    <div class=" col-sm-12" style="padding-top: 10px;">
                        <label>Analysis</label>
                        <hr class="hr_">

                    </div>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <label>Status</label>
                        <!--                        <input type="text" class="form-control" id="status_analisis"-->
                        <!--                               ng-model="formData.status_analisis">-->
                        <!--                        <ui-select ng-model="status_analisis.selected"-->
                        <!--                                   class="btn-group bootstrap-select form-control"-->
                        <!--                                   append-to-body="true"-->
                        <!--                                   search-enabled="false" ng-change="getfilter()">-->
                        <!--                            <ui-select-match placeholder="Please Choose">-->
                        <!--                                <span> {{$select.selected.name}}</span>-->
                        <!--                            </ui-select-match>-->
                        <!--                            <ui-select-choices-->
                        <!--                                    repeat="x in status_analisis | filter: $select.search"-->
                        <!--                                    ng-hide="!$select.open">-->
                        <!--                                <span ng-bind-html="x.name"></span>-->
                        <!--                            </ui-select-choices>-->
                        <!--                        </ui-select>-->

                        <ui-select ng-model="status_analysis_selected.selected"
                                   class="btn-group bootstrap-select form-control"
                                   append-to-body="false"
                                   search-enabled="false">
                            <ui-select-match placeholder="Please Choose">
                                <span> {{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="x in status_analysis | filter: $select.search"
                                               ng-hide="!$select.open">
                                <span ng-bind-html="x.name"></span>
                            </ui-select-choices>
                        </ui-select>


                    </div>

                    <div class="col-sm-12" style="padding-top: 10px;">
                        <!--                        <div class="col-sm-8">-->
                        <label>Description</label>
                        <textarea style="max-width: 100%;min-width: 100%;resize: none;" class="form-control"
                                  id="desc_analysis"
                                  ng-model="formData.desc_analysis"></textarea>

                    </div>
                </div>
                <br><br>
                <!-- #############################       ###########################-->
                <div class="row">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <div include-with-scope="../static/app/pages/account/widgets/editableRowTable.html"></div>
                    </div>
                </div>
                <br><br>
                <div style="float: right">
                    <button ng-click="submit()" style="width: 120px ;" type="submit"
                            class="btn btn-success ion-android-cloud">
                        &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
                    </button>&nbsp;&nbsp;
                    <button style="width: 120px ;" type="button"
                            class="btn btn-danger ion-android-close"
                            ng-click="close_tab()">
                        &nbsp;&nbsp;&nbsp;Close
                    </button>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

