<style>
    .hr_ {
        margin-top: 0px;
    }

</style>
<div class="col-md-12  panel panel-blur">
    <div class="panel-body">
        <div class="row">
            <div class=" col-sm-12" style="padding-top: 10px;">
                <label>Add Academic</label>
                <hr class="hr_">
            </div>
            <div class="col-sm-12" style="padding-top: 10px;">
                <label>Student</label>
                <input class="form-control" data-ng-model="student_name" readonly/>
                <!--                <ui-select ng-model="student_name.selected"-->
                <!--                           class="btn-group bootstrap-select form-control"-->
                <!--                           append-to-body="false"-->
                <!--                           search-enabled="true"-->
                <!--                           ng-change="studnet_selected">-->
                <!--                    <ui-select-match placeholder="Please Choose">-->
                <!--                        <span> {{$select.selected.name }}  ({{$select.selected.ic_no }} )</span>-->
                <!--                    </ui-select-match>-->
                <!--                    <ui-select-choices repeat="x in student_name | filter: $select.search"-->
                <!--                                       ng-hide="!$select.open">-->
                <!--                        <span ng-bind-html="x.name +'('+ x.ic_no +')'"></span>-->
                <!--                    </ui-select-choices>-->
                <!--                </ui-select>-->
            </div>
            <div>
                <div class="col-sm-6" style="padding-top: 30px;">
                    <input readonly placeholder="Year example (2020)"
                           class="form-control"
                           type="number"
                           name="year" required
                           pattern="^[0-9]{4}$"
                           data-ng-model="year" ng-enter="getfilter()"/>
                    <span ng-show="!year"> <font color="red">Please insert 4 digit,Required!</font></span>
                </div>
                <div class="col-sm-12" style="padding-top: 10px;">
                    <label>Remark</label>
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <div ckeditor="config" id="summernote" ng-model="desc"
                             vready="onReady()"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-top: 10px;">
                <div style="float: right">
                    <button ng-disabled="!desc "
                            ng-click="submit()" style="width: 120px ;" type="submit"
                            class="btn btn-success ion-android-cloud">
                        &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
                    </button>&nbsp;&nbsp;
                    <button style="width: 120px ;" type="button"
                            class="btn btn-danger ion-android-close"
                            ng-click="$close()">
                        &nbsp;&nbsp;&nbsp;Close
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

