<style>
    .amar {
        overflow: hidden;
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
        max-width: 0;
        overflow-wrap: break-word;
    }
</style>
<div>
    <div style=" float: right;" class="add-row-editable-table">
        <!--    <button class="btn btn-primary" ng-click="addUser()"></button>-->
        <button  style="border-radius: 25px;" ng-click="add_item()"
                class="btn btn-primary ion-android-add"></button>
    </div>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td style="width: 10%">No.</td>
            <td style="width: 10%">Code</td>
            <td style="width: 30%">Subject</td>
            <td style="width: 20%">Score</td>
            <td style="width:35%">Action</td>

        </tr>
        <tr ng-repeat="item in items" class="editable-row">
            <td class="select-td amar">
                {{$index + 1}}
            </td>
            <td class="select-td amar">
                <span editable-text="item.code" e-name="code" e-form="rowform" e-required
                      onbeforesave="checkValidity($data,'code')">
                  {{ item.code || 'empty' }}
                </span>
            </td>
            <td class="select-td amar">
                <span editable-text="item.subject" e-name="subject" e-form="rowform" e-required
                      onbeforesave="checkValidity($data,'subject')">
                  {{ item.subject || 'empty' }}
                </span>
            </td>
            <td class="select-td amar">
                <span editable-text="item.score" e-name="score" e-form="rowform" e-required
                      onbeforesave="checkValidity($data,'score')">
                  {{ item.score || 'empty' }}
                </span>
            </td>
            <td>
                <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == item">
                    <button type="submit" ng-disabled="rowform.$waiting"
                            class="btn btn-primary editable-table-button btn-xs">
                        Save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting"
                            ng-click="rowform.$cancel();remove_item_edit( $index,item.code ,item.subject)"
                            class="btn btn-default editable-table-button btn-xs">
                        Cancel
                    </button>

                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                    <button  class="btn btn-primary editable-table-button btn-xs"
                            ng-click="rowform.$show()">Edit
                    </button>
                    <button  class="btn btn-danger editable-table-button btn-xs"
                            ng-click="remove_items($index);">Delete
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <div ng-show="!items[0].code" class="col-sm-12">
        <div align="center">
            <span> <font color="red">***Required!, Minimum 1 item ***</font></span>
        </div>

    </div>

</div>