<style>

    hr.style-five {
        width: 100%;
        margin-top: -40px;
        border: 0;
        border-bottom: 1px dashed black;
        background: #e4fff5;
    }
</style>
<table cellpadding="0" cellspacing="0" align="center"
       style="font-size:14px;width:100%;background-repeat:no-repeat;font-family:Arial;margin-bottom:10px;max-width:90%;">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" align="center" border="0"
                   style="border:none;border-spacing:0;width:100%">
                <tbody>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" align="left" border="0"
                               style="border:none;border-spacing:0;width:100%;background-color:transparent">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <br>
                                    <img src="https://scontent.fkul5-2.fna.fbcdn.net/v/t31.0-8/s960x960/12377853_925643544193772_2024688783333812057_o.png?_nc_cat=101&_nc_sid=85a577&_nc_eui2=AeHL7KlHA6-Aqs_HWOfglgBqI7RuwD7eoWYjtG7APt6hZgs9qISLbGgrJ8yTj178qAYIMbMeXM4LuZd_w3ZKRzwk&_nc_ohc=9QsLzkNztjEAX_81Kx_&_nc_ht=scontent.fkul5-2.fna&oh=65830955e873da1d541adc3bedb07b45&oe=5EB6A417"
                                         width="30%" class="CToWUd a6T" tabindex="0">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="height:3px"></td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0"
                               style="border-width:0px;margin-bottom:3%;background-color:White;border-radius:5%;width:100%;padding-left:5%;padding-right:5%">
                            <tbody>
                            <tr>
                                <td style="padding-left:0%;padding-top:24px;padding-bottom:33px;font-size:20px;color:#1c79ca">
                                    Payment Receipt: Your payment was successful!
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height:normal;padding-left:0%;padding-right:15px;margin:0px">
                                    <span style="font-size:14px">Dear Customer, <br>
                                        <br>
                                        Thank you for choose OLIVE TREES SCHOOL .<br>
                                        <br>
                                        We are pleased to inform you that the following online payment is successful:
                                        <br>
                                    </span>
                                    <br>
                                </td>
                            </tr>
                            <tr>

                                <td valign="middle"
                                    style="line-height:normal;padding-left:0%;padding-right:15px;padding-top:2px;margin:0px">
                                    <hr style="border:0;border-top:1px solid rgba(0,0,0,0.1)">
                                    <br>
                                    <span style="font-size:10px;color:#a6a6a6">PAYMENT DATE. </span><br>
                                    <span style="font-size:14px;color:#49494a">paymentDateData</span><br><br>
                                    <span style="font-size:10px;color:#a6a6a6">INVOICE NO. </span><br>
                                    <span style="font-size:14px;color:#49494a">invoiceData </span><br><br>
                                    <span style="font-size:10px;color:#a6a6a6">BILL CODE </span><br>
                                    <span style="font-size:14px;color:#49494a">billCodeData </span><br><br>
                                    <hr style="border:0;border-top:1px solid rgba(0,0,0,0.1)">
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle"
                                    style="line-height:normal;padding-left:0%;padding-right:15px;padding-top:2px;margin:0px">
                                    <br>
                                    <span style="font-size:10px;color:#a6a6a6">STUDENT IC</span><br>
                                    <span style="font-size:14px;color:#49494a">studentIcData</span><br><br>
                                    <span style="font-size:10px;color:#a6a6a6">STUDENT NAME</span><br>
                                    <span style="font-size:14px;color:#49494a">studentNameData</span><br><br>
                                    <!--                                    <span style="font-size:10px;color:#a6a6a6">AMOUNT (RM)</span><br>-->
                                    <!--                                    <span style="font-size:14px;color:#49494a">amountData</span><br><br>-->
                                    <br>
                                    <hr style="border:0;border-top:1px solid rgba(0,0,0,0.1)">
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle"
                                    style="line-height:normal;padding-left:0%;padding-right:15px;padding-top:2px;margin:0px">
                                    <span style="font-size:15px;color:#49494a"><b>TOTAL AMOUNT (RM) </b></span><br>
                                    <span style="font-size:24px;color:#49494a">totalAmountData</span><br>
                                    <hr style="border:0;border-top:1px solid rgba(0,0,0,0.1)">
                                </td>
                            </tr>
                            <tr style="border-spacing:0px;border-collapse:collapse">
                                <td valign="bottom" align="center" style="padding-top:16px">
                                    <img
                                            src="https://ci4.googleusercontent.com/proxy/t6-F6CDtiSCVC8BnK7XGE9CLo596NbKFLz71ikTRykuSZReXmaszgXs5Z1FvQziI0DSxm3WNwWr0GBIDRrUuf0pswY7Pj8WLOptSmbcPd9DgEIgrBOJ5_fO9cw=s0-d-e1-ft#https://mytnbapp.tnb.com.my/public/images/emailsv2/Successful-footer.png"
                                            width="100%" class="CToWUd a6T" tabindex="0">
                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 771.6px; top: 1119.6px;">
                                        <div id=":5c" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0"
                                             aria-label="Download attachment " data-tooltip-class="a1V"
                                             data-tooltip="Download">
                                            <div class="aSK J-J5-Ji aYr"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td valign="middle">

                                    <font color="gray" size="xx-small">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <hr class="style-five">


                                        <h6>
                                            <b>NOTIFICATION:</b> The personal data and other information contained in
                                            this
                                            email is
                                            confidential and only for the use of the intended recipient. If you are not
                                            the
                                            intended
                                            recipient, you must not read, copy, deliver or disclose this email to
                                            anyone.
                                            If you have received this email in error, please notify the sender
                                            immediately <span class="il">THE OLIVE TREES SCHOOL</span> at 03-78590698
                                            and
                                            permanently
                                            delete all copies
                                            of this email. <span class="il">THE OLIVE TREES SCHOOL</span> disclaims all
                                            liability for any
                                            error, loss or damage
                                            arising from this
                                            email being infected by computer virus or other malicious software.</h6>
                                        <!--                                        <hr>-->
                                        <br>
                                        <br>
                                        <hr class="style-five">
                                    </font>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" align="center">
                <tbody>
                <tr style="height:20px">
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>